@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 255 255 255;
        --foreground: 17 24 39;
    }

    .dark {
        --background: 10 10 10;
        /* Deep black/gray */
        --foreground: 255 255 255;
    }

    body {
        @apply antialiased text-slate-900 dark:text-slate-100 bg-slate-50 dark:bg-black;
    }
}

@layer utilities {
    .glass {
        @apply bg-white/70 backdrop-blur-lg border border-white/20 dark:bg-neutral-900/70 dark:border-neutral-800/50;
    }

    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }
}