name: Build and Deploy to Docker Hub

on:
  push:
    branches: [main]

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:15
        env:
          POSTGRES_DB: vaultly
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: prisma
        ports:
          - 5432:5432
        options: >-
          --health-cmd "pg_isready -U postgres -d vaultly"
          --health-interval 5s
          --health-timeout 3s
          --health-retries 20

    steps:
      - name: Checkout repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          driver-opts: network=host
          buildkitd-flags: --allow-insecure-entitlement network.host

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: docker/Dockerfile.user
          push: true
          tags: anujbdev/vaultly-user-app:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max
          allow: network.host
          network: host
          build-args: |
            DATABASE_URL=postgresql://postgres:prisma@127.0.0.1:5432/vaultly?schema=public

      - name: Verify image pushed successfully
        run: docker pull anujbdev/vaultly-user-app:latest
